<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.example.visioninsurance">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name=".common.VisionInsurance"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_vi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisionInsurance"
        tools:targetApi="31">

        <activity
            android:name=".activity.DashBoard"
            android:exported="true"
            android:theme="@style/Theme.VisionInsurance.NoActionBar">

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.visioninsurance.com"
                    android:pathPrefix="/dashboard" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:scheme="https" android:host="www.vision.com" />-->

            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VisionInsurance.NoStatusBar">


            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.visioninsurance.com"
                    android:pathPrefix="/mainactivity" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="sdk.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="sdk.default_notification _icon_transparent"
            android:resource="@drawable/ic_outline_notifications_active_24" />
        <meta-data
            android:name="sdk.default_notification_color"
            android:resource="@color/teal_200" />
        <meta-data
            android:name="resulticks.key"
            android:value="api_key_b78db6b3-9462-4132-a4d3-894db10b3782" />
        <service
            android:name=".fcm.FirebaseReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>